.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100% !important;
}

.header__location {
    display:flex ;
    align-items:flex-end;
    color:white;
}

.searchBar {
    display: flex;
    margin: 0 0.4rem;
    flex: 1;
}

.searchBar input {
    border: none;
    padding: 0.8rem 0.4rem;
    font-size: 15px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchBar input:active, 
.searchBar input:focus {
    outline: none;
    border: none;
}

.searchBar__btn {
    background-color:#febd69;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.searchBar__btn:hover,
.searchBar__btn:active {
    background-color:#f1a23a;
}

a {
    text-decoration: none;
}